# Data Cleaning and Upload to MySQL for Movie Ratings, Genome Scores, and Tagged Data

Proper data preparation is pivotal in data science. Often, raw datasets contain anomalies like missing values, duplications, and inconsistent formatting. These can distort analytical results. In this notebook, we clean and refine three datasets related to movie ratings, genome scores, and tags, subsequently uploading them to a MySQL database. We'll explore each dataset while keeping in mind that they each possess distinct characteristics. 

We'll begin our exploration with the `ratings.csv` dataset. This file primarily contains the ratings given by users to various movies. Like any real-world dataset, it has its fair share of inconsistencies and challenges. From data type discrepancies to missing values, we've navigated these challenges to ensure that our analysis is built on a clean and reliable foundation. As we move forward, we'll apply similar rigor to other datasets, ensuring that our data-driven insights are both accurate and actionable.

In [96]:
import pandas as pd
from sqlalchemy import create_engine

# Loading CSV into a pandas DataFrame
ratings_df = pd.read_csv('/Users/doris/Desktop/portafolio/Projects/Movie/ratings.csv', encoding='ISO-8859-1')


# Displaying the first few rows of the data
print(ratings_df.head())

# Getting a summary of the data
print(ratings_df.describe())

# Checking for missing values
print(ratings_df.isnull().sum())

   userId  birthdate gender    zip      occupation  movieId
0       1  1/28/1927      m  59019  Civil engineer        1  \
1       1  1/28/1927      m  59019  Civil engineer        3
2       1  1/28/1927      m  59019  Civil engineer        6
3       1  1/28/1927      m  59019  Civil engineer       47
4       1  1/28/1927      m  59019  Civil engineer       50

                 title  yearReleased
0            Toy Story          1995  \
1     Grumpier Old Men          1995
2                 Heat          1995
3                Seven          1995
4  Usual Suspects, The          1995

                                        genres  imdbId  tmdbId  rating
0  Adventure|Animation|Children|Comedy|Fantasy  114709     862     4.0  \
1                               Comedy|Romance  113228   15602     4.0
2                        Action|Crime|Thriller  113277     949     4.0
3                             Mystery|Thriller  114369     807     5.0
4                       Crime|Mystery|Thriller  114814     629     5.0

         timestamp
0  7/30/2000 18:45
1  7/30/2000 18:20
2  7/30/2000 18:37
3  7/30/2000 19:03
4  7/30/2000 18:48
              userId            zip        movieId   yearReleased
count  100836.000000  100836.000000  100836.000000  100836.000000  \
mean      326.127564   49100.697191   19435.295718    1994.109316
std       182.618491   28146.262177   35530.987199      29.609595
min         1.000000     351.000000       1.000000       0.000000
25%       177.000000   22302.000000    1199.000000    1990.000000
50%       325.000000   49270.000000    2991.000000    1997.000000
75%       477.000000   73447.000000    8122.000000    2003.000000
max       610.000000   99551.000000  193609.000000    2018.000000

             imdbId         tmdbId         rating
count  1.008360e+05  100836.000000  100836.000000
mean   3.515475e+05   20102.870592       3.501557
std    6.220602e+05   53271.198449       1.042529
min    4.170000e+02       0.000000       0.500000
25%    9.968500e+04     712.000000       3.000000
50%    1.187690e+05    6957.000000       3.500000
75%    3.149790e+05   11635.000000       4.000000
max    8.391976e+06  525662.000000       5.000000
userId          0
birthdate       0
gender          0
zip             0
occupation      0
movieId         0
title           0
yearReleased    0
genres          0
imdbId          0
tmdbId          0
rating          0
timestamp       0
dtype: int64

In [97]:
# 1. Column Types Verification

ratings_df['rating'] = ratings_df['rating'].astype(float)
ratings_df['movieId'] = ratings_df['movieId'].astype(int)
ratings_df['userId'] = ratings_df['userId'].astype(int)

In [98]:
# 2. Removing Duplicate Rows

ratings_df.drop_duplicates(subset=['userId', 'movieId'], inplace=True)

In [99]:
# 3. Handleling Missing Values
# Here, I'm just dropping rows with any missing values for simplicity.

ratings_df.dropna(inplace=True)

In [100]:
# 4. Consistency in Data

ratings_df = ratings_df[(ratings_df['rating'] >= 0.5) & (ratings_df['rating'] <= 5)]

In [101]:
# 5. Date Format Verification
# Converting 'timestamp' to datetime format

ratings_df['timestamp'] = pd.to_datetime(ratings_df['timestamp'])

In [102]:
# Re-checking the first few rows to ensure changes
print(ratings_df.head())

   userId  birthdate gender    zip      occupation  movieId
0       1  1/28/1927      m  59019  Civil engineer        1  \
1       1  1/28/1927      m  59019  Civil engineer        3
2       1  1/28/1927      m  59019  Civil engineer        6
3       1  1/28/1927      m  59019  Civil engineer       47
4       1  1/28/1927      m  59019  Civil engineer       50

                 title  yearReleased
0            Toy Story          1995  \
1     Grumpier Old Men          1995
2                 Heat          1995
3                Seven          1995
4  Usual Suspects, The          1995

                                        genres  imdbId  tmdbId  rating
0  Adventure|Animation|Children|Comedy|Fantasy  114709     862     4.0  \
1                               Comedy|Romance  113228   15602     4.0
2                        Action|Crime|Thriller  113277     949     4.0
3                             Mystery|Thriller  114369     807     5.0
4                       Crime|Mystery|Thriller  114814     629     5.0

            timestamp
0 2000-07-30 18:45:00
1 2000-07-30 18:20:00
2 2000-07-30 18:37:00
3 2000-07-30 19:03:00
4 2000-07-30 18:48:00

In [103]:
# Converting 'birthdate' to datetime format and then to the desired string format.
ratings_df['birthdate'] = pd.to_datetime(ratings_df['birthdate']).dt.strftime('%Y-%m-%d')

# Converting 'zip' to string
ratings_df['zip'] = ratings_df['zip'].astype(str)

# Ensuring 'zip' has consistent length. 
ratings_df = ratings_df[ratings_df['zip'].str.len() == 5]

In [104]:
# Saving the cleaned data
ratings_df.to_csv('/Users/doris/Desktop/portafolio/Projects/Movie/ratings_csv.csv', index=False)

In [105]:
num_rows = ratings_df.shape[0]
print(num_rows)

91163

In [106]:
# Create MySQL connection
engine = create_engine("mysql+mysqlconnector://root:your_password@localhost/fcp")

In [107]:
# Save the dataframe to MySQL
ratings_df.to_sql('ratings_csv', con=engine, if_exists='replace', index=False)

91163

Now we will do the data cleaning for genome_scores.csv and tagged.csv

In [33]:
genome_scores_df = pd.read_csv('/Users/doris/Desktop/portafolio/Projects/Movie/genome_scores.csv', encoding='ISO-8859-1')

/var/folders/83/j_l11mrj72z6rrrr7fsc29qm0000gn/T/ipykernel_31326/1604721714.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  genome_scores_df = pd.read_csv('/Users/doris/Desktop/portafolio/Projects/Movie/genome_scores.csv', encoding='ISO-8859-1')

The warning suggests that we have mixed data types, we will check the data type

In [34]:
print(genome_scores_df.dtypes)

movieId           int64
title            object
yearReleased     object
tagId            object
tag              object
relevance       float64
dtype: object

In [80]:
# Display the first few rows of the data
print(genome_scores_df.head())

# Examining Data Types & Missing Values

# Get a summary of the data
print(genome_scores_df.describe())

# Checking for missing values
print(genome_scores_df.isnull().sum())

# Round Relevance to 4 Decimal Places
genome_scores_df['relevance'] = genome_scores_df['relevance'].round(4)

   movieId      title  yearReleased  tagId           tag  relevance
0        1  Toy Story          1995      1             7     0.0290
1        1  Toy Story          1995      2  007 (series)     0.0237
2        1  Toy Story          1995      3  18th century     0.0542
3        1  Toy Story          1995      4         1920s     0.0687
4        1  Toy Story          1995      5         1930s     0.1600
            movieId  yearReleased         tagId     relevance
count  9.855336e+06  9.855336e+06  9.855336e+06  9.855336e+06
mean   3.448913e+04  1.994209e+03  5.645000e+02  1.180997e-01
std    4.600173e+04  1.825268e+01  3.256254e+02  1.586587e-01
min    1.000000e+00  1.902000e+03  1.000000e+00  2.000000e-04
25%    2.912000e+03  1.987000e+03  2.827500e+02  2.370000e-02
50%    6.503000e+03  1.999000e+03  5.645000e+02  5.600000e-02
75%    6.004000e+04  2.007000e+03  8.462500e+02  1.420000e-01
max    1.875950e+05  2.018000e+03  1.128000e+03  1.000000e+00
movieId         0
title           0
yearReleased    0
tagId           0
tag             0
relevance       0
dtype: int64

Given the current data types of the genome_scores_df dataframe, the following actions need to be taken:

* yearReleased: This column is of object data type which suggests it might contain non-numeric values. We should inspect and clean this column to convert it to an integer.

* tagId: This column has a float64 type which suggests there might be missing values (NaNs) or non-integer values in this column. We need to address these before converting it to an integer.

Let's address these columns:

1. Inspect and clean yearReleased:

In [72]:
# Checking non-string entries in the yearReleased column
non_string_years = genome_scores_df[genome_scores_df['yearReleased'].apply(lambda x: not isinstance(x, str))]
print(non_string_years['yearReleased'].unique())

[1995 1994 1996 1976 1992 1967 1993 1964 1977 1965 1982 1990 1991 1989
 1937 1940 1969 1981 1973 1970 1955 1959 1968 1988 1997 1972 1943 1952
 1951 1957 1961 1958 1954 1934 1944 1960 1963 1942 1941 1953 1939 1950
 1946 1945 1938 1947 1935 1936 1956 1949 1932 1975 1974 1971 1979 1987
 1986 1980 1978 1985 1966 1962 1983 1984 1948 1933 1931 1922 1998 1929
 1930 1927 1928 1999 2000 1926 1919 1921 1925 1923 2001 2002 2003 1920
 1915 1924 2004 1916 1917 2005 2006 1902 1903 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016 2017 2018]

In [73]:
# Converting 'yearReleased' to string type
genome_scores_df['yearReleased'] = genome_scores_df['yearReleased'].astype(str)

# Now, check for non-numeric values in the 'yearReleased' column
non_numeric_years = genome_scores_df[~genome_scores_df['yearReleased'].str.isnumeric()]['yearReleased'].unique()
print("Non-numeric years:", non_numeric_years)

Non-numeric years: []

In [74]:
# Filtering out rows with non-numeric 'yearReleased' values
genome_scores_df = genome_scores_df[genome_scores_df['yearReleased'].str.isnumeric()]

# Converting 'yearReleased' to integer type
genome_scores_df['yearReleased'] = genome_scores_df['yearReleased'].astype(int)

# Displaying the first few rows to verify the changes
print(genome_scores_df.head())

   movieId      title  yearReleased  tagId           tag  relevance
0        1  Toy Story          1995      1             7     0.0290
1        1  Toy Story          1995      2  007 (series)     0.0237
2        1  Toy Story          1995      3  18th century     0.0542
3        1  Toy Story          1995      4         1920s     0.0687
4        1  Toy Story          1995      5         1930s     0.1600

Next, let's address the other columns.It looks like tagId should be an integer, but it's currently an object (likely a string). This may be because of similar formatting issues we saw with yearReleased.

Let's check the unique non-numeric values in the tagId column to determine how we should proceed:

In [75]:
# Checking for non-numeric tagId entries
non_numeric_tagIds = genome_scores_df[~genome_scores_df['tagId'].astype(str).str.isnumeric()]['tagId'].unique()
print("Non-numeric tagIds:", non_numeric_tagIds)

Non-numeric tagIds: []

It means all values in the tagId column are numeric. So, we can safely convert it to an integer type. Let's proceed with that:

In [77]:
# Converting 'tagId' to integer
genome_scores_df['tagId'] = genome_scores_df['tagId'].astype(int)

# Checking the datatypes again
print(genome_scores_df.dtypes)

movieId           int64
title            object
yearReleased      int64
tagId             int64
tag              object
relevance       float64
dtype: object

In [78]:
# Saving the cleaned data

genome_scores_df.to_csv('/Users/doris/Desktop/portafolio/Projects/Movie/genome-scores_csv.csv', index=False)

In [79]:
# Saving the dataframe to MySQL
chunk_size = 50000
inserted_rows = 0

for i in range(0, len(genome_scores_df), chunk_size):
    chunk = genome_scores_df[i:i+chunk_size]
    try:
        chunk.to_sql('genome-scores_csv', con=engine, if_exists='append', index=False)
        inserted_rows += len(chunk)
        print(f"Inserted rows: {inserted_rows}")
    except Exception as e:
        print(f"Error inserting rows {i}-{i+chunk_size}: {e}")

Inserted rows: 50000
Inserted rows: 100000
Inserted rows: 150000
Inserted rows: 200000
Inserted rows: 250000
Inserted rows: 300000
Inserted rows: 350000
Inserted rows: 400000
Inserted rows: 450000
Inserted rows: 500000
Inserted rows: 550000
Inserted rows: 600000
Inserted rows: 650000
Inserted rows: 700000
Inserted rows: 750000
Inserted rows: 800000
Inserted rows: 850000
Inserted rows: 900000
Inserted rows: 950000
Inserted rows: 1000000
Inserted rows: 1050000
Inserted rows: 1100000
Inserted rows: 1150000
Inserted rows: 1200000
Inserted rows: 1250000
Inserted rows: 1300000
Inserted rows: 1350000
Inserted rows: 1400000
Inserted rows: 1450000
Inserted rows: 1500000
Inserted rows: 1550000
Inserted rows: 1600000
Inserted rows: 1650000
Inserted rows: 1700000
Inserted rows: 1750000
Inserted rows: 1800000
Inserted rows: 1850000
Inserted rows: 1900000
Inserted rows: 1950000
Inserted rows: 2000000
Inserted rows: 2050000
Inserted rows: 2100000
Inserted rows: 2150000
Inserted rows: 2200000
Inserted rows: 2250000
Inserted rows: 2300000
Inserted rows: 2350000
Inserted rows: 2400000
Inserted rows: 2450000
Inserted rows: 2500000
Inserted rows: 2550000
Inserted rows: 2600000
Inserted rows: 2650000
Inserted rows: 2700000
Inserted rows: 2750000
Inserted rows: 2800000
Inserted rows: 2850000
Inserted rows: 2900000
Inserted rows: 2950000
Inserted rows: 3000000
Inserted rows: 3050000
Inserted rows: 3100000
Inserted rows: 3150000
Inserted rows: 3200000
Inserted rows: 3250000
Inserted rows: 3300000
Inserted rows: 3350000
Inserted rows: 3400000
Inserted rows: 3450000
Inserted rows: 3500000
Inserted rows: 3550000
Inserted rows: 3600000
Inserted rows: 3650000
Inserted rows: 3700000
Inserted rows: 3750000
Inserted rows: 3800000
Inserted rows: 3850000
Inserted rows: 3900000
Inserted rows: 3950000
Inserted rows: 4000000
Inserted rows: 4050000
Inserted rows: 4100000
Inserted rows: 4150000
Inserted rows: 4200000
Inserted rows: 4250000
Inserted rows: 4300000
Inserted rows: 4350000
Inserted rows: 4400000
Inserted rows: 4450000
Inserted rows: 4500000
Inserted rows: 4550000
Inserted rows: 4600000
Inserted rows: 4650000
Inserted rows: 4700000
Inserted rows: 4750000
Inserted rows: 4800000
Inserted rows: 4850000
Inserted rows: 4900000
Inserted rows: 4950000
Inserted rows: 5000000
Inserted rows: 5050000
Inserted rows: 5100000
Inserted rows: 5150000
Inserted rows: 5200000
Inserted rows: 5250000
Inserted rows: 5300000
Inserted rows: 5350000
Inserted rows: 5400000
Inserted rows: 5450000
Inserted rows: 5500000
Inserted rows: 5550000
Inserted rows: 5600000
Inserted rows: 5650000
Inserted rows: 5700000
Inserted rows: 5750000
Inserted rows: 5800000
Inserted rows: 5850000
Inserted rows: 5900000
Inserted rows: 5950000
Inserted rows: 6000000
Inserted rows: 6050000
Inserted rows: 6100000
Inserted rows: 6150000
Inserted rows: 6200000
Inserted rows: 6250000
Inserted rows: 6300000
Inserted rows: 6350000
Inserted rows: 6400000
Inserted rows: 6450000
Inserted rows: 6500000
Inserted rows: 6550000
Inserted rows: 6600000
Inserted rows: 6650000
Inserted rows: 6700000
Inserted rows: 6750000
Inserted rows: 6800000
Inserted rows: 6850000
Inserted rows: 6900000
Inserted rows: 6950000
Inserted rows: 7000000
Inserted rows: 7050000
Inserted rows: 7100000
Inserted rows: 7150000
Inserted rows: 7200000
Inserted rows: 7250000
Inserted rows: 7300000
Inserted rows: 7350000
Inserted rows: 7400000
Inserted rows: 7450000
Inserted rows: 7500000
Inserted rows: 7550000
Inserted rows: 7600000
Inserted rows: 7650000
Inserted rows: 7700000
Inserted rows: 7750000
Inserted rows: 7800000
Inserted rows: 7850000
Inserted rows: 7900000
Inserted rows: 7950000
Inserted rows: 8000000
Inserted rows: 8050000
Inserted rows: 8100000
Inserted rows: 8150000
Inserted rows: 8200000
Inserted rows: 8250000
Inserted rows: 8300000
Inserted rows: 8350000
Inserted rows: 8400000
Inserted rows: 8450000
Inserted rows: 8500000
Inserted rows: 8550000
Inserted rows: 8600000
Inserted rows: 8650000
Inserted rows: 8700000
Inserted rows: 8750000
Inserted rows: 8800000
Inserted rows: 8850000
Inserted rows: 8900000
Inserted rows: 8950000
Inserted rows: 9000000
Inserted rows: 9050000
Inserted rows: 9100000
Inserted rows: 9150000
Inserted rows: 9200000
Inserted rows: 9250000
Inserted rows: 9300000
Inserted rows: 9350000
Inserted rows: 9400000
Inserted rows: 9450000
Inserted rows: 9500000
Inserted rows: 9550000
Inserted rows: 9600000
Inserted rows: 9650000
Inserted rows: 9700000
Inserted rows: 9750000
Inserted rows: 9800000
Inserted rows: 9850000
Inserted rows: 9855336

In [91]:
num_rows_genome = genome_scores_df.shape[0]
print(num_rows_genome)

9855336

In [55]:
# Check for duplicates
print("Duplicates:", genome_scores_df.duplicated().sum())

# Check the shape of the dataframe
print("Shape:", genome_scores_df.shape)

Duplicates: 0
Shape: (9855336, 6)

Now, let's turn our attention to the `tagged.csv` dataset, our final piece of the puzzle, and delve into its analysis.

In [83]:
# Loading CSV into a pandas DataFrame
tagged_df = pd.read_csv('/Users/doris/Desktop/portafolio/Projects/Movie/tagged.csv', encoding='ISO-8859-1')


# Displaying the first few rows of the data
print(tagged_df.head())

   userId  birthdate gender    zip occupation  movieId          title
0       2  4/16/1949      m  98533     Porter    60756  Step Brothers  \
1       2  4/16/1949      m  98533     Porter    60756  Step Brothers
2       2  4/16/1949      m  98533     Porter    60756  Step Brothers
3       2  4/16/1949      m  98533     Porter    89774        Warrior
4       2  4/16/1949      m  98533     Porter    89774        Warrior

   yearReleased  genres   imdbId  tmdbId              tag         timestamp
0          2008  Comedy   838283   12133            funny  10/24/2015 19:29
1          2008  Comedy   838283   12133  Highly quotable  10/24/2015 19:29
2          2008  Comedy   838283   12133     will ferrell  10/24/2015 19:29
3          2011   Drama  1291584   59440     Boxing story  10/24/2015 19:33
4          2011   Drama  1291584   59440              MMA  10/24/2015 19:33

In [84]:
# Getting a summary of the data
print(tagged_df.describe())

            userId           zip        movieId  yearReleased        imdbId
count  3683.000000   3683.000000    3683.000000   3683.000000  3.683000e+03  \
mean    431.149335  66080.268531   27252.013576   1991.419223  4.773262e+05
std     158.472553  20666.673637   43490.558803     59.943738  8.021648e+05
min       2.000000   1062.000000       1.000000      0.000000  1.234900e+04
25%     424.000000  52141.000000    1262.500000   1988.000000  9.532700e+04
50%     474.000000  77277.000000    4454.000000   1998.000000  1.205860e+05
75%     477.000000  77277.000000   39263.000000   2005.000000  3.863585e+05
max     610.000000  99181.000000  193565.000000   2018.000000  5.580390e+06

              tmdbId
count    3683.000000
mean    32540.478143
std     73362.177784
min        11.000000
25%       680.000000
50%      8051.000000
75%     19995.000000
max    503475.000000

In [85]:
# Checking for missing values
print(tagged_df.isnull().sum())

userId          0
birthdate       0
gender          0
zip             0
occupation      0
movieId         0
title           0
yearReleased    0
genres          0
imdbId          0
tmdbId          0
tag             0
timestamp       0
dtype: int64

In [86]:
# Checking the datatypes
print(tagged_df.dtypes)

userId           int64
birthdate       object
gender          object
zip              int64
occupation      object
movieId          int64
title           object
yearReleased     int64
genres          object
imdbId           int64
tmdbId           int64
tag             object
timestamp       object
dtype: object

In [87]:
# Converting 'birthdate' and 'timestamp' columns to their respective formats

tagged_df['birthdate'] = pd.to_datetime(tagged_df['birthdate'])
tagged_df['timestamp'] = pd.to_datetime(tagged_df['timestamp'])

In [88]:
# Ensuring gender consistency

tagged_df['gender'] = tagged_df['gender'].str.upper()

In [89]:
# Ensuring zip code has a consistent format
tagged_df['zip'] = tagged_df['zip'].astype(str).str.zfill(5)

In [90]:
# Re-checking the first few rows to ensure changes
print(tagged_df.head())

   userId  birthdate gender    zip occupation  movieId          title
0       2 1949-04-16      M  98533     Porter    60756  Step Brothers  \
1       2 1949-04-16      M  98533     Porter    60756  Step Brothers
2       2 1949-04-16      M  98533     Porter    60756  Step Brothers
3       2 1949-04-16      M  98533     Porter    89774        Warrior
4       2 1949-04-16      M  98533     Porter    89774        Warrior

   yearReleased  genres   imdbId  tmdbId              tag           timestamp
0          2008  Comedy   838283   12133            funny 2015-10-24 19:29:00
1          2008  Comedy   838283   12133  Highly quotable 2015-10-24 19:29:00
2          2008  Comedy   838283   12133     will ferrell 2015-10-24 19:29:00
3          2011   Drama  1291584   59440     Boxing story 2015-10-24 19:33:00
4          2011   Drama  1291584   59440              MMA 2015-10-24 19:33:00

In [92]:
num_rows_tagged = tagged_df.shape[0]
print(num_rows_tagged)

3683

In [93]:
# Saving the cleaned data

tagged_df.to_csv('/Users/doris/Desktop/portafolio/Projects/Movie/tagged_csv.csv', index=False)

In [95]:
# Save the dataframe to MySQL
tagged_df.to_sql('tagged_csv', con=engine, if_exists='replace', index=False)

3683